_____
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [1]:
line = "Hi everyone! Today we're going to start a split statement."
line.split()
for word in line.split():
    if word[0] == "s" or word[0] == "S":
        print(word)

start
split
statement.

In [2]:
st = 'Print only the words that start with s in this sentence'
st.split()
for word in st.split():
    if(word[0]=="s"):
        print(word)

start
s
sentence



$a^2$

______
**Use range() to print all the even numbers from 0 to 10.**

In [3]:
for i in range(0,10):
    if i %2 == 0:
        print(i)

0
2
4
6
8

___
**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [2]:
for m in range(1,50):
    if m % 3 == 0:
        print(m)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [5]:
list_1 = [i for i in range(1,51) if i % 3 ==0]
print(list_1)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

8# Statements Assessment Quiz
Let's test your knowledge!

_____
**Go through the string below and if the length of a word is even print "even!"**

In [4]:
i = "Go through the string below and if the length of a word is even print 'even!'"
new_list = i.split()
new_list
for word in new_list:
    if len(word) % 2 == 0:
        print("Even!")
    else:
        print(word)

Even!
through
the
Even!
below
and
Even!
the
Even!
Even!
a
Even!
Even!
Even!
print
'even!'

____
**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [7]:
#Code in this cell
for x in range(1,101):
    if x % 3 == 0 and x % 5 == 0:
        print("FizzBuzz")
    elif x % 3 == 0:
        print("Fizz")
    elif x % 5 == 0:
        print("Buzz")
    else:
        print(x)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [5]:
st = "Create a list of the first letters of every word in this string"
st.split()
for word in st.split():
    print(word[0])

C
a
l
o
t
f
l
o
e
w
i
t
s

In [6]:
line = "I created a list for this line"
line.split()
for word in line.split():
    print(word[0])

I
c
a
l
f
t
l

### Great Job!