Please fill the infos below

Date: 23/11/2020
Name: M.Mert
Surname: Çetintürk
Student ID: 21967387

## GMT101 - GEOMATICS / MIDTERM EXAM

- You have 10 questions to answer. Please use your own coding skills to fulfill each task. 
- You can add docstrings in order to explain your codes. 
- Please upload the same (.ipynb) file including your answers to the "evdekal" system. No other formats will be accepted.
- You have to upload your file until November 27th - 23:59 pm.

### **********************QUESTIONS**********************************

#### Q1) We have four numbers 1,2,3,4. We have to create combinations made by 3 digits (e.g., 123, 234, 423,...), where each combination must be unique and there can not be duplicates. (15pt)

Task: what are the combinations we can get, taking in consideration the condition indicated above?

In [1]:
## Your answer here
def combination(x):
    for i in range(len(x)):
        for j in range(len(x)):
            for k in range(len(x)):
                if (i != j) and (j != k) and (i != k):
                    print(x[i],x[j],x[k])
    pass
combination([1,2,3,4])

1 2 3
1 2 4
1 3 2
1 3 4
1 4 2
1 4 3
2 1 3
2 1 4
2 3 1
2 3 4
2 4 1
2 4 3
3 1 2
3 1 4
3 2 1
3 2 4
3 4 1
3 4 2
4 1 2
4 1 3
4 2 1
4 2 3
4 3 1
4 3 2

In [ ]:
###############################################################

#### Q2) Write a function that accepts three integers x,y,z from the user (i.e., use input command) and order the integers from the smallest to the largest. (10pt)

In [2]:
## Your answer here
def sort_numbers(x,y,z):
    list1 = [x,y,z]
    list1.sort()
    print(list1)
    pass

x = int(input("Enter a Number: "))
y = int(input("Enter Another Number: "))
z = int(input("Enter Last Number: "))

sort_numbers(x,y,z)

Enter a Number: 49
Enter Another Number: 991
Enter Last Number: 5
[5, 49, 991]

In [ ]:
###############################################################

#### Q3) Handle user input
#### The aim of this question is to write a program to ask the user for two strings and concatenate them together, with a space between them and store them into a new variable called new_string. (10 pt)

In [3]:
## Your answer here
string1 = input("Write a String: ")
string2 = input("Write Another String: ")

new_string = [string1,string2]

" ".join(new_string)

Write a String: Hello
Write Another String: World

'Hello World'

In [ ]:
###############################################################

#### Q4) The aim of this task is to write a program to convert a distance in Kilometres into a distance in miles. (10 pt)

  - Take input from the user for a given distance in Kilometres. This can be done using the input() function.
  - Convert the value returned by the input() function from a string into an
    integer using the int() function.
  - Now convert this value into miles—this can be done by dividing the kilometres by 0.6214
  - Print out a message telling the user what the kilometres are in miles.

In [4]:
## Your answer here
kilometer = float(input("Enter Distence In Kiloeters: "))
mile = kilometer * 0.6214

print("Your {} Kilometer Is {} Miles".format(kilometer,mile))

Enter Distence In Kiloeters: 100
Your 100.0 Kilometer Is 62.13999999999999 Miles

In [ ]:
###############################################################

#### Q5) In this exercise you should return to the kilometres to miles converter you wrote in the last question. (15 pt)

You will add several new tests to your program:

- Modify your program such that it verify that the user has entered a positive distance (i.e. they cannot enter a negative number).
- Now modify your program to verify that the input is a number; if it is not a number then do nothing; otherwise convert the distance to miles.

- To check to see if a string contains only digits use the method isnumeric() for example '42'.isnumeric(); which returns True if the string only contains numbers. Note this method only works for positive integers; but this is sufficient for this question.

In [5]:
## Your answer here
while True:
    kilometer = input("Enter Distence In Kiloeters: ")
    
    if kilometer.isnumeric() == True:
        kilometer = float(kilometer)
        
        if kilometer > 0:
            mile = kilometer * 0.6214
            print("Your {} Kilometer Is {} Miles".format(kilometer,mile))
            break

    
    else:
        continue

Enter Distence In Kiloeters: abcd
Enter Distence In Kiloeters: -100
Enter Distence In Kiloeters: 100
Your 100.0 Kilometer Is 62.13999999999999 Miles

In [ ]:
###############################################################

#### Q6) 

#### a) Create a for  loop that iterates through all the numbers of "your student id" and prints out the numbers only greater than 4. (4 pt)


For example just assume that my student id is 573592241. \
 myid=[5, 7, 3, 5, 9, 2, 2, 4, 1] # You have to write your own id here. 

#### b) Create a for loop that iterates through all the items of the same list and prints out all the items but this time exit the loop when the item is equal to 5th (e.g., 9 in myid) item of your student id. (3 pt)

#### c) Create a for loop that iterates through all the items of the same list and prints out all the items except 6th (e.g., 2 in myid) item of your student id. (3 pt)

(note: e.g. means "for instance")

In [6]:
## Your answer here 

#For a

student_id = input("Enter Your Student ID: ")
list1 = []
for i in student_id:
    i = int(i)
    if i > 4:
        list1.append(i)
print(list1)

Enter Your Student ID: 21967387
[9, 6, 7, 8, 7]

In [7]:
## Your answer here

#For b

student_id = input("Enter Your Student ID: ")
list2 = []
for i in student_id:
    list2.append(i)
    if i == student_id[3]:
        break
print(list2,"Exiting The Loop...")

Enter Your Student ID: 21967387
['2', '1', '9', '6'] Exiting The Loop...

In [8]:
## Your answer here

#For c

student_id = input("Enter Your Student ID: ")
list3 = []
for i in student_id:
    list3.append(i)
list3.pop(5)
print(list3)

Enter Your Student ID: 21967387
['2', '1', '9', '6', '7', '8', '7']

In [ ]:
###############################################################3

#### Q7) Please create one text file  "fruits.txt" and write the following fruits in order (one per each row). (10 pt)

 <br> pear </br>
 <br> apple </br>
 <br> orange </br>
 <br> mandarin </br>
 <br> watermelon </br>
 <br> pomegranate </br>

Write some Python code that prints out the length of each string in the fruits.txt file. 

Expected output:

 4 \
 5 \
 6 \
 8 \
 10 \
 11

In [9]:
## Your answer here
with open('fruits.txt','w') as x:
    x.write("pear\napple\norange\nmandarin\nwatermelon\npomegranate\n")
    
with open('fruits.txt','r') as x:
    print(x.read())

print("--------------------------\n")

my_file = open('fruits.txt','r')
stringlines = my_file.readlines()
lengthlist = []
for x in stringlines:
    lengthlist.append(len(x)-1)
for y in lengthlist:
    print(y)

pear
apple
orange
mandarin
watermelon
pomegranate

--------------------------

4
5
6
8
10
11

In [ ]:
###############################################################3

#### Q8) Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary. (10 pt)

In [10]:
## Your answer here
my_dict = {'x' : list(range(11,21)), 'y' : list(range(21,31)), 'z' : list(range(31,41))}
for i,j in my_dict.items():
    print(i,"Values",j)
print("---------------------")
print("x's 5th Value",my_dict['x'][4])
print("y's 5th Value",my_dict['y'][4])
print("z's 5th Value",my_dict['z'][4])

x Values [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
y Values [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
z Values [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]
---------------------
x's 5th Value 15
y's 5th Value 25
z's 5th Value 35

In [ ]:
###############################################################3

#### Q9) Write a Python program to square and cube every number in a given list of integers using Lambda. (5 pt)

In [11]:
## Your answer here
list1 = [1,2,3,4,5]
for i in list1:
    take_square = lambda x : x ** 2
    print("For {} = {}".format(i,take_square(i)))
    
print("----------")

for j in list1:
    take_cube = lambda x : x ** 3
    print("For {} = {}".format(j,take_cube(j)))

For 1 = 1
For 2 = 4
For 3 = 9
For 4 = 16
For 5 = 25
----------
For 1 = 1
For 2 = 8
For 3 = 27
For 4 = 64
For 5 = 125

In [ ]:
###############################################################3

#### Q10) Write a Python program to replace last value of tuples in a list. (5 pt)
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)] \
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [12]:
## Your answer here
list1 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in list1])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]